<template>
	<main>

		<div>
			<div class="list-label" id="1" @click="showEvents">
				<div class="expand-button">
					<div class="line-vertical"></div>
					<div class="line-horizontal"></div>
				</div>
				<h5>Training</h5>
			</div>
			<ul>
				<li>
					<h6>Tuesday, January 2nd, 7 p.m.</h6>
					<p>Department Meeting</p>
				</li>
				<li>
					<h6>Monday, January 8th, 7 p.m.</h6>
					<p>Exempts General Management</p>
					<p>248 West Ave, Brockport, NY 14420</p>
				</li>
				<li>
					<h6>Thursday, January 18th, 7 p.m.</h6>
					<p>Board of Directors Meeting</p>
				</li>
			</ul>
		</div>

		<div>
			<div class="list-label" id="2" @click="showEvents">
				<div class="expand-button">
					<div class="line-vertical"></div>
					<div class="line-horizontal"></div>
				</div>
				<h5>Van Schedule</h5>
			</div>
			<ul>
				<li>
					<h6>Tuesday, January 2nd, 7 p.m.</h6>
					<p>Department Meeting</p>
				</li>
				<li>
					<h6>Monday, January 8th, 7 p.m.</h6>
					<p>Exempts General Management</p>
					<p>248 West Ave, Brockport, NY 14420</p>
				</li>
				<li>
					<h6>Thursday, January 18th, 7 p.m.</h6>
					<p>Board of Directors Meeting</p>
				</li>
			</ul>
		</div>

		<div>
			<div class="list-label" id="3" @click="showEvents">
				<div class="expand-button">
					<div class="line-vertical"></div>
					<div class="line-horizontal"></div>
				</div>
				<h5>Duty Officers</h5>
			</div>
			<ul>
				<li>
					<h6>Tuesday, January 2nd, 7 p.m.</h6>
					<p>Department Meeting</p>
				</li>
				<li>
					<h6>Monday, January 8th, 7 p.m.</h6>
					<p>Exempts General Management</p>
					<p>248 West Ave, Brockport, NY 14420</p>
				</li>
				<li>
					<h6>Thursday, January 18th, 7 p.m.</h6>
					<p>Board of Directors Meeting</p>
				</li>
			</ul>
		</div>

	</main>
</template>

<script>

export default {

methods: {
	showEvents(event) {
		console.log(event.target.parentElement.className = 'show');
	}
}


}

</script>