<template>
    <nav>
        <ul :class="{ '--show' : toggled}">
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About Us</li></a>
            <a href="/events"><li>Events</li></a>
            <a href="/staff"><li>Staff</li></a>
            <a href="/contact"><li>Contact</li></a>
            <a href="/login"><li>Members Only</li></a>
        </ul>
        <div class="hamburger" @click="toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</template>

<script>
    export default {

        data() {
            return {
                toggled: false
            }
        },

        methods: {
            toggle() {
                this.toggled = !this.toggled;
            }
        }

    };
</script>