@import main

.tab-bar
	position: relative
	display: flex
	justify-content: space-evenly
	border-bottom: 1px solid $primary-color
	height: 30px
	margin: 0
.tab
	float: left
	margin: 0
	a
		color: $primary-color
		text-decoration-color: $primary-color