@import main

footer
	display: flex
	justify-content: center
	background: $tertiary-color
	width: 100%
	height: 100%
	padding: 50px 0
	color: $secondary-color
	h5
		border-bottom: 1px solid $secondary-color
		padding-bottom: 20px
		margin-bottom: 20px
	ul
		width: 225px
		padding-left: 0
		li
			margin-top: 20px
			list-style-type: none
	a, a:visited
		color: $secondary-color
		text-decoration-color: $secondary-color
	div
		float: left
		margin: 0 30px
