@import main


form
	text-align: center
	min-height: 400px
.control
	width: 100%
	height: 25px
	margin-top: 25px
	label
		text-align: right
		width: 150px
		margin-left: -150px
	input
		margin-left: 15px
	button
		width: 100px
		height: 50px
		margin: 0 15px
.primary
	background-color: $primary-color
.secondary
	background-color: $tertiary-color
.primary,.secondary
	color: $secondary-color
	border: none
	border-radius: 10px
.remember-me
	margin-top: 50px
	padding-left: 100px
