@import main


header
	position: relative
	z-index: 10
	width: 100%
	background: $primary-color
	height: 115px
	padding-left: 7.5%
	padding-right: 2%
	padding-top: 20px
	&::before
		content: ''
		position: absolute
		float: right
		display: block
		top: 0
		right: 0
		overflow: hidden
		width: 50%
		height: 115px
		opacity: 0.2
		background: linear-gradient(to left, rgba(143,27,20,0), rgba(143,27,20,1)), url('/img/truck.jpg') no-repeat
		background-position: 35% 55%
		background-size: 1000px
	h1,h2,ul
		color: white
	h1, h2
		margin-top: 10px
	h1
		text-transform: uppercase
	section
		position: absolute
		float: left
		width: 605px
		img
			height: auto
			margin-right: 30px
			width: 100px
			float: left
	nav
		float: right
		ul
			padding: 0
			float: left
			position: relative
			top: 57px
			list-style-type: none
			display: inline
			li
				float: left
				margin: 0 0 0 10px
				text-decoration: underline
				color: $secondary-color
				&:hover
					text-decoration: none
		.hamburger
			cursor: pointer
			position: absolute
			right: 30px
			width: 50px
			height: 50px
			margin-top: 30px
			border: 2px solid $secondary-color
			border-radius: 5px
			display: none
			&:active
				background: purple
				ul 
					li
						width: 100px
						height: 500px
						background: purple
			.line
				margin: 10px 10%
				width: 80%
				height: 2px
				background: $secondary-color



		@media screen and (max-width: 1320px)
			ul
				display: none
				position: absolute
				top: 115px
				right: 0px
				a
					width: 300px
					height: 100px
					li
						margin: 0
						float: none
						background: $primary-color
						width: 300px
						height: 75px
						padding-top: 20px
						padding-left: 70px
						&:hover
							background: darken($primary-color, 5%)
							text-decoration: none
					&:after
						content: ''
						position: absolute
						right: 0
						width: 85%
						margin-left: 15%
						height: 1px
						background: darken($primary-color, 5%)
					&:last-child
						&:after
							height: 0
			.hamburger
				display: block
			.--show
				display: block