@import 'main'

.hero
	position: relative
	z-index: 0
	figure
		position: relative
		z-index: 20
		display: block
		width: 100%
		img
			width: 100%
			z-index: -10
		figcaption
			background: linear-gradient(90deg, rgba(10, 10, 10, 0.95), rgba(10,10,10,.8) 50%, rgba(0, 0, 0, 0))
			float: left
			position: absolute
			z-index: 30
			top: 0
			left: 0
			width: 50%
			padding-top: 17.5%
			padding-right: 15%
			height: 100%
			color: $secondary-color
			text-align: right
			a
				color: $secondary-color
				text-decoration-color: $secondary-color
