@import 'main'

.intro
	display: flex
	justify-content: center
	background: $tertiary-color
	width: 100%
	figure
		position: relative
		margin: 20px
		width: 300px
		height: 250px
		overflow: hidden
		img
			transition: 0.5s all
			min-width: 300px
		&:hover
			img
				transform: scale(1.1)
			.band
				background: $secondary-color
				color: $body-color
				text-decoration-color: $secondary-color
	.band
		position: absolute
		transition: 0.5s all
		width: 100%
		top: 42%
		height: 40px
		background: $primary-color
		color: $secondary-color
		text-align: center
		text-decoration: underline