$primary-color: #8f1b14
$secondary-color: #fdfdfd
$tertiary-color: #1f1e2f
$body-color: #111

header
	font-family: 'Merriweather', serif
h1, h2, h3, h4, h5
	font-family: 'Merriweather', serif
h1
	font-size: 32px
h2
	font-size: 24px
h3
	line-height: 1.75em
h4
	font-size: 24px
h5
	font-size: 24px
	line-height: 1.75em
h6
	font-size: 24px
body
	font-family: 'PT Sans', sans-serif
a
	text-decoration: underline
	text-decoration-color: $body-color
	color: $body-color
	&:visited
		color: $body-color
	&:hover
		text-decoration: none
		color: $body-color
main
	padding: 50px 0
	color: $body-color
	width: 600px
	margin: auto
	min-height: 50vh
p, li
	font-size: 18px
li
	margin: 30px 0
ul
	list-style-type: none
	padding: 0
blockquote
	font-family: 'Merriweather', serif
	border-left: 3px solid $primary-color
	font-size: 24px
.center
	text-align: center