@import 'main'

.list-label
	position: relative
	background-color: $primary-color
	color: $secondary-color
	border-radius: 20px
	width: 75%
	h5
		margin-left: 50px
.expand-button
	position: relative
	left: -1px
	top: -1px
	width: 44px
	height: 44px
	border-radius: 20px
	float: left
	.line-vertical
		position: relative
		height: 70%
		width: 3px
		left: 20px
		top: 15%
		border-radius: 2px
		background: $secondary-color
	.line-horizontal
		position: relative
		height: 3px
		width: 70%
		left: 15%
		top: -11px
		border-radius: 2px
		background: $secondary-color